<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>All <%= title %>s</h1>
  <% if(title === "Book") {%>
  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Release Year</th>
      </tr>
    </thead>
  <% }else if(title === "Movie") { %>
    <table id="list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Director</th>
          <th>Genre</th>
          <th>Release Year</th>
        </tr>
      </thead>
  <% }else if(title === "Game") { %>
    <table id="list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th>Genre</th>
          <th>Release Year</th>
        </tr>
      </thead>
      <% } %>
    <tbody>
      <% mediaTypes.forEach((mediaType) => { %>
      <tr>
        <td><%= mediaType.title %></td>
        <td><%= mediaType.creator %></td>
        <td><%= mediaType.genre %></td>
        <td><%= mediaType.releaseYear %></td>
        <td><a href="/mediaTypes/<%= mediaType._id %>">DETAILS</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/mediaTypes/new?type=<%= title %>">
    <button class="btn">Add a new <%= title %> </button>
  </a>
</main>

<%- include('../partials/footer') %>
