<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/mediaTypes/index.css" />
    <script src="https://kit.fontawesome.com/96f9470ce4.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
<%- include('../partials/nav') %>
<main>
  <h1><%= title %>s</h1>
  <div class="media-index">
    <% if(title === "Book") {%>
      <% mediaTypes.forEach((mediaType) => { %>
        <div class="mediatype">
          <div><i class="fa-solid fa-book fa-2xl" style="color: #d6d6d7;"></i></div>
          <div id="title"><%= mediaType.title %></div>
          <a href="/mediaTypes/<%= mediaType._id %>"><i class="fa-solid fa-circle-info fa-2xl" style="color: #d6d6d7;"></i></a>
        </div>
      <% }) %>
    <a class="add-mediatype" href="/mediaTypes/new?type=<%= title %>">
      <button class="btn">Add a new <%= title %> </button>
    </a>
    <% }else if(title === "Movie") { %>
      <% mediaTypes.forEach((mediaType) => { %>
        <div class="mediatype">
          <div><i class="fa-solid fa-film fa-2xl" style="color: #d6d6d7;"></i></div>
          <div id="title"><%= mediaType.title %></div>
          <a href="/mediaTypes/<%= mediaType._id %>"><i class="fa-solid fa-circle-info fa-2xl" style="color: #d6d6d7;"></i></a>
        </div>
      <% }) %>
    <a class="add-mediatype" href="/mediaTypes/new?type=<%= title %>">
      <button class="btn">Add a new <%= title %> </button>
    </a>
    <% }else if(title === "Game") { %>
      <% mediaTypes.forEach((mediaType) => { %>
        <div class="mediatype">
          <div><i class="fa-solid fa-gamepad fa-2xl" style="color: #d6d6d7;"></i></div>
          <div id="title"><%= mediaType.title %></div>
          <a href="/mediaTypes/<%= mediaType._id %>"><i class="fa-solid fa-circle-info fa-2xl" style="color: #d6d6d7;"></i></a>
        </div>
      <% }) %>
    <a class="add-mediatype" href="/mediaTypes/new?type=<%= title %>">
      <button class="btn">Add a new <%= title %> </button>
    </a>
    <% } %>
  </div>
</main>
<%- include('../partials/footer') %>
