<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/mediaTypes/new.css" />
    <script src="https://kit.fontawesome.com/96f9470ce4.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
<%- include('../partials/nav') %>
<main>
  <h1>Add a <%= title %></h1>
  <div class="add-media">
    <% if(title === "Book") {%>
      <form action="/mediaTypes" id="add-media" method="POST">
        <input type="hidden" name="type" value="Book">
        <label>
          Title:
          <input type="String"  name="title" required>
        </label>
        <label>
          Author:
          <input type="String"  name="creator" required>
        </label>
        <label>
          Genre:
          <input type="String"  name="genre" required>
        </label>
        <label>
          Year Published:
          <input type="String"  name="releaseYear" pattern="\d{4}" required>
        </label>
      </form>
      <button type="submit" form="add-media">Add <%= title %></button>
  <% }else if(title === "Movie") { %>
    <form action="/mediaTypes" id="add-media" method="POST">
      <input type="hidden" name="type" value="Movie">
      <label>
        Title:
        <input type="String"  name="title" required>
      </label>
      <label>
        Director:
        <input type="String"  name="creator" required>
      </label>
      <label>
        Genre:
        <input type="String"  name="genre" required>
      </label>
      <label>
        Year Released:
        <input type="String"  name="releaseYear" pattern="\d{4}" required>
      </label>
    </form>
    <button type="submit" form="add-media">Add <%= title %></button>
  <% }else if(title === "Game") { %>
    <form action="/mediaTypes" id="add-media" method="POST">
      <input type="hidden" name="type" value="Game">
      <label>
        Title:
        <input type="String"  name="title" required>
      </label>
      <label>
        Creator:
        <input type="String"  name="creator" required>
      </label>
      <label>
        Genre:
        <input type="String"  name="genre" required>
      </label>
      <label>
        Year Released:
        <input type="String"  name="releaseYear" pattern="\d{4}" required>
      </label>
    </form>
    <button type="submit" form="add-media">Add <%= title %></button>
  <% } %>
  </div>
</main>
<%- include('../partials/footer') %>
