<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/mediaTypes/show.css" />
    <script src="https://kit.fontawesome.com/96f9470ce4.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
<%- include('../partials/nav') %>
<main>
  <div class="media-type">
    <h1><%= mediaType.title %></h1>
    <% if(mediaType.type === "Book") {%>
      <table id="list">
        <thead>
          <tr>
            <th>Author</th>
            <th>Genre</th>
            <th>Release Year</th>
          </tr>
        </thead>
    <% }else if(mediaType.type === "Movie") { %>
      <table id="list">
        <thead>
          <tr>
            <th>Director</th>
            <th>Genre</th>
            <th>Release Year</th>
          </tr>
        </thead>
    <% }else if(mediaType.type === "Game") { %>
      <table id="list">
        <thead>
          <tr>
            <th>Company</th>
            <th>Genre</th>
            <th>Release Year</th>
          </tr>
        </thead>
    <% } %>
        <tbody>
          <tr>
            <td><%= mediaType.creator %></td>
            <td><%= mediaType.genre %></td>
            <td><%= mediaType.releaseYear %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="media-type-opinions-container">
    <% if(mediaType.opinions.length) { %>
      <h2>Opinions</h2>
      <div class="media-type-opinions-list">
      <% mediaType.opinions.forEach(opinion => { %>
        <div class="media-type-opinion">
          <div class="opinion-header">
            <div class="rating"><%= opinion.rating %></div>
            <header><%= opinion.owner.name %></header>
            
          </div>
          <div class="opinion-details">
            <details>
              <summary><i class="fa-solid fa-circle-info" style="color: #d6d6d7;"></i></summary>
              <textarea rows="4" cols="50" readonly><%= opinion.text %></textarea>
            </details>
        </div>
      </div>
        <% }) %>
      <% }else{ %>
      </div>
      <div id="h2">No Opinions</div>
      <% } %>
    </div>
    <div class="no-opinions-add-opinion">
    <details>
      <summary>
        <div>Add an Opinion</div>
        <i class="fa-solid fa-circle-info" style="color: #d6d6d7;"></i>
      </summary>
      <div class="add-opinion">
        <form id="add-opinion-to-mediaType" action="/mediaTypes/<%= mediaType._id %>/opinions" method="POST">
          <label>
            Rating from 0 to 100:
            <input type="Number"  name="rating" min="0" max="100" required>
          </label>
          <label>
            Your Opinion:
            <textarea type="String"  name="text" rows="4" cols="50" required></textarea>
          </label>
          <button type="submit">Add Your Opinion</button>
        </form>
      </div>
    </details>
  </div>        
</main>               
<%- include('../partials/footer') %>