<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= mediaType.title %></h1>
  <% if(mediaType.type === "Book") {%>
  <table id="list">
    <thead>
      <tr>
        <th>Author</th>
        <th>Genre</th>
        <th>Release Year</th>
      </tr>
    </thead>
  <% }else if(mediaType.type === "Movie") { %>
    <table id="list">
      <thead>
        <tr>
          <th>Director</th>
          <th>Genre</th>
          <th>Release Year</th>
        </tr>
      </thead>
  <% }else if(mediaType.type === "Game") { %>
    <table id="list">
      <thead>
        <tr>
          <th>Company</th>
          <th>Genre</th>
          <th>Release Year</th>
        </tr>
      </thead>
      <% } %>
    <tbody>
      <tr>
        <td><%= mediaType.creator %></td>
        <td><%= mediaType.genre %></td>
        <td><%= mediaType.releaseYear %></td>
      </tr>
    </tbody>
  </table>
  
</main>





<%- include('../partials/footer') %>

