<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= user ? `${user.profile.name}'s Opinions` : "Opinionated" %>
  
  </h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if(user.profile.opinions.length) { %>
    <h2>Opinions</h2>
      <ul>
        <% user.profile.opinions.forEach(opinion => { %>
        <li><%= opinion %></li>
          <% console.log(opinion) %>
        <% }) %>
      </ul>
    <% }else{ %>
    <h2>No Opinions</h2> 
    <% } %>
</main>

<%- include('./partials/footer') %>
